$rock-color: #63424B;
$paper-color: #36504B;
$scissors-color: #535353;

* {
  font-family: 'Helvetica';
}

// Title styles

.app {
  h1 {
    text-align: center;
    font-size: 40px;
    span {
      &:nth-child(1){
        color: $rock-color;
      }
      &:nth-child(2){
        color: $paper-color;
      }
      &:nth-child(3){
        color: $scissors-color;
      }
    }
  }
}

// Options tytle

.options {
  text-align: center;
  margin-bottom: 20px;
  img {
    border-radius: 20px;
    margin: 0 5px;
    transition: all 0.2s ease;
    border-width: 10px;
    border-style: solid;
    padding: 10px;
    width: 200px;
    display: inline-block;
    &:hover {
      opacity: 0.9;
      transform: scale(1.02);
    }
    &:nth-child(1) {
      border-color: $rock-color;
    }

    &:nth-child(2) {
      border-color: $paper-color;
    }

    &:nth-child(3) {
      border-color: $scissors-color;
    }
  }
}

// Results styles
.results {
  text-align: center;
  div {
    text-align: center;
    background-color: #F8F8F8;
    width: 80%;
    display: inline-block;
    padding: 20px;
    margin: 0 auto;
    font-size: 100px;
    font-weight: bold;
    span {
      display: inline-block;
      &:nth-child(1) {
        &:before {
          content: "ME";
          display: block;
          text-align: center;
          font-size: 20px;
        }
      }

      &:nth-child(2) {
        &:before {
          content: "CPU";
          display: block;
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }
}

// Timeline
.timeline {
  width: 80%;
  margin: 0 auto;
  .row {
    display: flex;
    margin: 10px 0px;
    img:nth-child(1) {
      margin-right: auto;
    }
    .line {
      border-top: 2px solid black;
    }
  }
}
